# Silence Dot ENV logs

DOTENV_CONFIG_QUIET=true

# Environment

NODE_ENV=development

# Ports

HOST_PORT=1995
CLIENT_PORT=1997

# Versions

HOST_VERSION=v1
CLIENT_VERSION=v1

# URLs

HOST_URL=http://localhost:1995
CLIENT_URL=http://localhost:1997

# Secret Keys

SESSION_SECRET_KEY=session-secret-key
JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER=backend
JWT_AUDIENCE=client
JWT_TOKEN_EXPIRY=2h
ACCESS_TOKEN_SECRET=access-token-secret
REFRESH_TOKEN_SECRET=refresh-token-secret
ACCESS_TOKEN_EXPIRY=2h
REFRESH_TOKEN_EXPIRY=7d

# VAPID Configurations

VAPID_PUBLIC_KEY=BO6JKr2lz0ztteYnW9Q0TtK9FMKbNBSwKWruOUvqty-kHj6Z77PhZUbWwLGXlg3_lyvO2UMuCOUxrLqpr62ZPl0
VAPID_PRIVATE_KEY=JtsYc4J2re1utpCyI4L3GqNBg6iCQ2y1ADPlNMZxFdo

# Email Configurations

SMTP_FROM=noreply@yourappname.com
SMTP_HOST=your-app-smtp-host
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=your-app-smtp-user
SMTP_PASS=your-app-smtp-password

# Database Configurations

DB_LOCAL_URI=mongodb://localhost:27017
DB_LOCAL_NAME=database-local
DB_BASE_URI=mongodb+srv
DB_CLUSTER=database-cluster-url
DB_NAME=database-development
DB_USER=database-user
DB_PASSWORD=database-password

# Google Drive Configurations

GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ACCOUNT_NAME=multi-app-image-storage
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ACCOUNT_ID=multi-app-image-storage
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_PROJECT_ID=155806690109
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_CLIENT_ID=
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_CLIENT_SECRET=
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_ROOT_FOLDER_ID=1-58NrxgLuOz4vmhtnue4phH3z1VJfcsf
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_APP_FOLDER_ID=1ZDSAIlY2IQeJudfhTlO6n-5Wy_iTtpj8
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_AVATAR_FOLDER_ID=1n_6Iq4HAsMTG3zWq_tBheK4sbKTFbzcL
GOOGLE_DRIVE_IMAGE_STORAGE_CLIENT_COVER_FOLDER_ID=1c4_kzmXkMa_Wu5FftuJYy9PLEpE2nAQA
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_REDIRECT_URI=http://localhost:1995/oauth2callback
GOOGLE_DRIVE_IMAGE_STORAGE_OAUTH_REFRESH_TOKEN=

# Google OAuth Configurations

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Github OAuth Configurations

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# Facebook OAuth Configurations

FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_SECRET=

# Linkedin OAuth Configurations

LINKEDIN_OAUTH_CLIENT_ID=
LINKEDIN_OAUTH_CLIENT_SECRET=

# Cloudinary Configurations

CLOUDINARY_API_CLOUD_NAME=rajesh-ranjan-cloudinary
CLOUDINARY_API_KEY_NAME=rajesh-ranjan-cloudinary-key
CLOUDINARY_API_KEY=614915147647189
CLOUDINARY_API_SECRET=T0f0d3sOM_YyGgfauKvAQk5Zp90